<div class="create-timeline">
  <h1 mat-dialog-title>Create new timeline</h1>
  <div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="save(form?.value)">
      <div fxLayout="column wrap" fxLayoutAlign="space-between start">
        <div fxLayout="row wrap" class="full-wid" fxLayoutAlign="space-between start">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" >
            <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
              <mat-label>{{'Employee name' | translate}}</mat-label>
              <input matInput placeholder="{{'Employee name' | translate}}" formControlName="name" type="text">
            </mat-form-field>
            <small
              *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched"
              class="warn-text gene-block">
              {{'You must include Employee name' | translate}}
            </small>
            <small
              *ngIf="form.controls['name'].errors && !(form.controls['name'].hasError('required')) && form.controls['name'].touched"
              class="warn-text gene-block">
              {{'You must include a valid Employee name' | translate}}
            </small>
          </div>
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
              <mat-label>{{'Type' | translate}}</mat-label>
              <input type="text" matInput formControlName="type" [matAutocomplete]="auto1">
              <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn"
                                (opened)="handlerAutocomplete('type')">
                <mat-option *ngFor="let option of typesFilteredOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
<!--            <mat-form-field class="example-form-field w-100" appearance="outline">-->
<!--              <mat-label>Select range</mat-label>-->
<!--              <mat-date-range-input-->
<!--                [formGroup]="customDate"-->
<!--                [rangePicker]="dateRange">-->
<!--                <input readonly matStartDate placeholder="Start date" formControlName="start">-->
<!--                <input readonly matEndDate placeholder="End date" formControlName="end">-->
<!--              </mat-date-range-input>-->
<!--              &lt;!&ndash;      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>&ndash;&gt;-->
<!--              <mat-datepicker-toggle matSuffix [for]="dateRange"></mat-datepicker-toggle>-->
<!--              <mat-date-range-picker class="w-100" #dateRange></mat-date-range-picker>-->
<!--            </mat-form-field>-->


            <mat-form-field>
              <input readonly matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="dateFrom"
                     [disabled]="false">
              <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="true"
                                       [stepHour]="1" [stepMinute]="1" [stepSecond]="1"
                                       [touchUi]="false" [color]="'primary'" [enableMeridian]="true"
                                       [disableMinute]="false" [hideTime]="false">
              </ngx-mat-datetime-picker>
            </mat-form-field>
          </div>
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <!--            <mat-form-field class="example-form-field w-100" appearance="outline">-->
            <!--              <mat-label>Select range</mat-label>-->
            <!--              <mat-date-range-input-->
            <!--                [formGroup]="customDate"-->
            <!--                [rangePicker]="dateRange">-->
            <!--                <input readonly matStartDate placeholder="Start date" formControlName="start">-->
            <!--                <input readonly matEndDate placeholder="End date" formControlName="end">-->
            <!--              </mat-date-range-input>-->
            <!--              &lt;!&ndash;      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>&ndash;&gt;-->
            <!--              <mat-datepicker-toggle matSuffix [for]="dateRange"></mat-datepicker-toggle>-->
            <!--              <mat-date-range-picker class="w-100" #dateRange></mat-date-range-picker>-->
            <!--            </mat-form-field>-->


            <mat-form-field>
              <input readonly matInput [ngxMatDatetimePicker]="picker2" placeholder="Choose a date" formControlName="dateTo"
                     [disabled]="false">
              <mat-datepicker-toggle matSuffix [for]="$any(picker2)"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker2 [showSpinners]="true" [showSeconds]="true"
                                       [stepHour]="1" [stepMinute]="1" [stepSecond]="1"
                                       [touchUi]="false" [color]="'primary'" [enableMeridian]="true"
                                       [disableMinute]="false" [hideTime]="false">
              </ngx-mat-datetime-picker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button  mat-button class="mx-2" (click)="onNoClick()">Cancel</button>
    <button (click)="save(form?.value)" [disabled]="!form.valid" color="primary" mat-raised-button class="primary-bg" cdkFocusInitial>Create</button>
  </div>

</div>
