<div class="container-fluid mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-8 card p-5 d-flex flex-column">
      <h2 class="mb-5 text-capitalize text-center w-100">{{'Support Center' | translate}}</h2>
      <div class="col-sm-12 row justify-content-around align-items-center">
        <a href="{{whatsUpString}}" target="_blank"
           class="col-sm-12 col-md-6 col-lg-2 d-flex justify-content-center align-items-center help">
          <div class="d-flex flex-column">
            <i class="fa fa-whatsapp text-center"></i>
            <p
              class="text-black-50">{{'Our team is happy to provide immediate assistance through WhatsApp' | translate}}</p>
          </div>
        </a>
        <a class="col-sm-12 col-md-6 col-lg-2 d-flex justify-content-center align-items-center help">
          <div class="d-flex flex-column">
            <mat-icon class="mat-chat text-center">chat</mat-icon>
            <p
              class="text-black-50">{{'We are online 24/7 to receive your questions and get the work done as its meant to be' | translate}}</p>
          </div>
        </a>
        <a href="{{'tel:'+ supportPhone}}"
           class="col-sm-12 col-md-6 col-lg-2 d-flex justify-content-center align-items-center help">
          <div class="d-flex flex-column">
            <i class="fa fa-phone text-center"></i>
            <p class="text-black-50">{{'Call us and one of our expert will help you with any issue' | translate}}</p>
          </div>
        </a>
        <a href="{{emailString}}"
           class="col-sm-12 col-md-6 col-lg-2 d-flex justify-content-center align-items-center help">
          <div class="d-flex flex-column">
            <i class="fa fa-inbox text-center"></i>
            <p
              class="text-black-50">{{'Send us your suggestions and inquiries, and we will be in touch as soon as we can' | translate}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
