// 1.0    Material Variables

@import '~@angular/material/theming';
$custom-primary: (
  50: #bce1f3,
  100: #5ab9e3,
  200: #078dcb,
  300: #4fc3f7,
  400: #06628c,
  500: #277598,
  600: #039be5,
  700: #036C9C,
  800: #0277bd,
  900: #01579b,
  A100: #5a9ab6,
  A200: #40c4ff,
  A400: #0a5070,
  A700: #1e9bd3,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);
$primary: mat-palette($custom-primary,700);
$accent:  mat-palette($mat-cyan,700);
$warn: mat-palette($mat-red,600);
$error: mat-palette($mat-orange,50);
$success: mat-palette($mat-green,600);
$theme: mat-light-theme($primary, $accent, $warn);
$background: map-get($theme, background);
$foreground: map-get($theme, foreground);

@include mat-core();

$dark-primary: mat-palette($custom-primary,900);
$dark-accent:  mat-palette($mat-teal,600);
$dark-success:  mat-palette($mat-green,800);
$dark-warn: mat-palette($mat-pink,400);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
$dark-background: map-get($dark-theme, background);
$dark-foreground: map-get($dark-theme, foreground);

// Default Theme
@include angular-material-theme($theme);
// Dark Theme
.app-dark {
  @include angular-material-theme($dark-theme);
}

// Create your Sass color vars (will be available in all the project)
$my-primary: mat-color($primary);
$my-accent: mat-color($accent);
$my-warn: mat-color($warn);
$my-success: mat-color($success);
$my-error: mat-color($error);

$my-dark-primary: mat-color($dark-primary);
$my-dark-accent: mat-color($dark-accent);
$my-dark-warn: mat-color($dark-warn);
$my-dark-success: mat-color($dark-success);

   //custom-variables
$light-color:#ffffff;

// .primary-color{
//   color: $my-primary;
// }
.app-dark{
   .primary-bg{
      background: $my-dark-primary !important;
      // color:$light-color !important;
   }
   .primary-text{
      color: $my-dark-primary !important;
   }
   .success-bg{
      background: $my-dark-success !important;
      // color:$light-color !important;
   }
   .success-text{
      color: $my-dark-success !important;
   }
   .warn-bg{
      background: $my-dark-warn !important;
      // color:$light-color !important;
   }
   .warn-text{
      color: $my-dark-warn !important;
   }
   .accent-text{
      color: $my-dark-accent !important;
   }
   .accent-bg{
      background: $my-dark-accent !important;
      // color:$light-color !important;
   }
}
.primary-bg{
   background: $my-primary !important;
   color:$light-color !important;
}
.primary-text{
   color: $my-primary !important;
}
.success-bg{
   background: $my-success !important;
   color:$light-color !important;
}
.success-text{
   color: $my-success !important;
}
.warn-bg{
   background: $my-warn !important;
   color:$light-color !important;
}
.warn-text{
   color: $my-warn !important;
}
.accent-text{
   color: $my-accent !important;
}
.accent-bg{
   background: $my-accent !important;
   color:$light-color !important;
}
.error-text{
   color: $my-error !important;
}
.error-bg{
   background: $my-error !important;
   color:$light-color !important;
}
