<div class="gene-forgot gene-session wow fadeInDown padding-bottom">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column"  fxFlex.xl="450px" fxFlex.lg="450px" fxFlex.md="450px" fxFlex.sm="450px"  fxFlex.xs="100" class="gene-forget-pass">
      <mat-card>
        <div>
          <div fxLayout="column" fxLayoutAlign="center center">
            <div class="login-logo justify-content" fxLayout="column" fxLayoutAlign="center center">
              <img src="{{mainLogo}}" style="width: 20%;" class="logo-img" alt="">
              <h2 class="mt-4">{{'Forget password' | translate}}</h2>
            </div>
          </div>
          <form #form="ngForm" (ngSubmit)="send(form.value)">
            <div fxLayout="column" fxLayoutAlign="start stretch">
              <mat-form-field class="full-wid mrgn-b-sm">
                <input matInput placeholder="{{'Please enter mobile number or email' | translate}}" type="text" name="mobile" required [(ngModel)]="mobile">
              </mat-form-field>
              <button color="primary" mat-raised-button [disabled]= "loadSubmitBtn" class="primary-bg">{{'RECOVER PASSWORD'|translate}}</button>
              <small class="mb-2 text-danger" *ngIf="!isValidPhone && !isValidMail">{{'You must enter a valid phone or a valid email' | translate}}</small>
              <p style="text-align: center;"><a [routerLink]="['/auth/login']">{{'Back to login'|translate}}</a></p>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>
