/*==============|Base|================*/

// Basics tags
code {
  padding: 8px;
  background: $container-bg;
}

pre {
  background-color: $container-bg;
  padding: 15px;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

//Table
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.table thead th {
  text-align: left;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}

.table tbody + tbody {
  border-top: 2px solid #eceeef;
}

.table .table {
  background-color: $light-color;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #eceeef;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #eceeef;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #dff0d8;
}

.table-hover .table-success:hover {
  background-color: #d0e9c6;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #d0e9c6;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #d9edf7;
}

.table-hover .table-info:hover {
  background-color: #c4e3f3;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #c4e3f3;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fcf8e3;
}

.table-hover .table-warning:hover {
  background-color: #faf2cc;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #faf2cc;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f2dede;
}

.table-hover .table-danger:hover {
  background-color: #ebcccc;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #ebcccc;
}

.thead-inverse th {
  color: $light-color;
  background-color: #292b2c;
}

.thead-default th {
  color: #464a4c;
  background-color: #eceeef;
}

.table-inverse {
  color: $light-color;
  background-color: #292b2c;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
  border-color: $light-color;
}

.table-inverse.table-bordered {
  border: 0;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive.table-bordered {
  border: 0;
}

.table {
  margin-bottom: 1rem;
  max-width: 100%;
  width: 100%;
}

table {
  background-color: transparent;
  border-collapse: collapse;
}

.label {
  color: $light-color;
  display: inline-block;
  padding: 2px 14px;
}

.box-shadow-none {
  box-shadow: none !important;
}

.lead {
  font-size: 1.375rem;
}

.sec-title-font {
  font-size: 2rem;
}

.sq-50 {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid $light-color;
  border-radius: 100%;
  font-size: 1.4rem;
}

// Gene Mat Card style
.gene-card-title {
  .mat-mdc-divider {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5rem;
  }
}

.gene-card-footer,
.gene-card-title {
  h4 {
    color: $mat-card-title-font-color;
  }

  .mat-mdc-icon-button {
    height: 2.188rem;
    line-height: 1.1;
    width: 2.188rem;
    margin: 0;
    color: $mat-card-icon-color;
    font-size: 0.875rem;
  }
}

.gene-card-content-sm {
  padding: 0.5rem 0 0;
}

.gene-card-content {
  padding: 1.3rem 0 1rem 0;
}

.gene-card-footer {
  .mat-mdc-divider {
    padding: 0.3em
  }
}

.no-gutter {
  margin-left: -$mat-card-padding-left-right;
  margin-right: -$mat-card-padding-left-right;
}

//Radius classes
body .radius-none {
  border-radius: 0;
}

.radius-circle {
  border-radius: 50%;
}

.border-none {
  border: 0 !important;
}

.border-rad-base {
  border-radius: $border-radius-base;
}

//Overflow hidden
.overflow-visible {
  overflow: visible;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

// Position
.gene-relative {
  position: relative !important;
}

.gene-fixed {
  position: fixed;
}

.gene-absolute {
  position: absolute;
}

// List
.list-inline {
  li {
    display: inline-block;
  }
}

.list-style-none {
  list-style: none;
}

.gene-list {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;

  > li {
    margin-bottom: 1rem;
  }
}

i {
  margin-right: 0.5rem;
}

.list-style-none {
  list-style: none;
  padding-left: 0;
}

// Helper classes
.box-inset {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
}

.full-wid {
  width: 100%;
}

.height-full {
  height: 100%;
}

.card-full-height {
  height: calc(100% - 2rem) !important;
}

.card-full-width {
  width: calc(100% - 2rem) !important;
}

.gene-span {
  display: inline-block;
  vertical-align: top;
}

.gene-block {
  display: block !important;
}

.button-block {
  display: block;
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.img-circle {
  border-radius: 50%;
}

// mat card text color
.mat-mdc-icon-grey {
  color: $mat-card-icon-color;
}

.shadow-none {
  box-shadow: none !important;
}

.background-none {
  background-color: transparent !important;
}

.app-dark {
  .gene-card-footer,
  .gene-card-title {
    h4 {
      color: white;
    }

    .mat-mdc-icon-button {
      color: white;
    }
  }
}

//Table Pagination
.set-overflow-x-auto {
  overflow: hidden;
  overflow-x: auto;
}

@media(max-width: 767px) {
  body {
    .ngx-datatable.material .datatable-footer .datatable-pager a {
      margin: 12px 1px;
      min-width: 17px;
      padding: 0 2px;
      text-align: center;
    }

    .ngx-datatable .datatable-footer > div {
      display: block;
      width: 100%;
    }

    .ngx-datatable .datatable-footer .page-count {

      display: none;

    }

    .ngx-datatable .datatable-footer .datatable-pager {
      -moz-box-flex: 1;
      display: inline-block;
      -moz-box-flex: 0;
      flex: 0 0 100%;
      text-align: right;
      width: 98%;
    }
  }
}

/*------------inbox page styling----------*/
body {
  .gene-card-title {
    .mat-mdc-divider {
      position: relative;
      width: auto;
      margin-left: -$mat-card-padding-left-right;
      margin-right: -$mat-card-padding-left-right;
    }
  }

  .gene-mail-wrapper {
    .mail-nav-list {
      .nav-item {
        padding: 12px 16px;

        &:hover {
          background-color: $mat-list-hover-bg-color;
        }
      }
    }

    .mails-container {
      .search {
        .icon-group {
          button {
            margin-right: 4px !important;
          }
        }
      }
    }

    .mat-mdc-elevation-z2 {
      box-shadow: none;
    }
  }

  .gene-chat-page {
    .gene-chat-sidebar {
      box-shadow: $mat-card-hover-effect;
    }

    .mat-mdc-toolbar-single-row {
      min-height: 73px;
    }

    .mat-mdc-nav-list {
      .mat-mdc-list-item.mat-mdc-list-item-with-avatar {
        height: auto;

        .mat-mdc-list-item-content {
          min-height: 53px;
        }
      }
    }

    .gene-chat-area {
      .ps-content {
        height: 500px;
        min-height: 100%;
      }
    }

    .gene-chat-form {
      .mat-mdc-form-field {
        float: left;
        width: calc(100% - 7rem);
        margin-top: 1.2rem;
      }

    }
  }

  .cal-month-view {
    .cal-open-day-events {
      .ng-star-inserted {
        mwl-calendar-event-title {
          margin: 0 5px;
        }
      }
    }
  }

  .editor-container {
    box-shadow: none;
  }

  .gene-btn-wrapper {
    .box-inset {
      [disabled].mat-mdc-fab, [disabled].mat-mdc-mini-fab, [disabled].mat-mdc-raised-button {
        box-shadow: none;
      }
    }
  }

  .gene-card-footer {
    .mat-mdc-divider {
      position: relative;
      width: auto;
    }
  }

  .mat-mdc-simple-snackbar {
    .mat-mdc-simple-snackbar-action {
      color: $light-color;

      button {
        padding-right: 0;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .mat-mdc-dialog-container {
    .ng-star-inserted {
      mat-dialog-actions {
        display: block;
        padding-top: 14px;
        justify-content: flex-end;
      }
    }
  }

  .mat-mdc-form-field {
    .mat-mdc-select-trigger {
      margin: 0;
    }
  }

  .mat-mdc-datepicker-toggle {
    .mat-mdc-icon-button {
      span {
        font-size: 24px;
      }

      &:focus {
        background-color: transparent;
      }
    }
  }

  ms-paging-table, ms-editing-table, ms-filter-table {
    .ngx-datatable.material {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    }
  }

  button.mat-mdc-raised-button {
    margin-right: 0.3125rem;
  }

  .user-list-wrapper {
    flex-flow: wrap;

    .gene-btn-sm {
      margin-right: 0.3125rem;
    }
  }

  ms-pinning-table {
    .datatable-body {
      .datatable-row-wrapper {
        height: 50px;
      }
    }
  }
}

.vertical-align-mid {
  vertical-align: middle;
}

/*---------|Button|----------*/
body .gene-btn-lg {
  line-height: 50px;
  padding: 0 32px;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.overflow-show {
  overflow: visible !important;
}

.make-ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

//Inbox
.mail-pagination-wrap .mat-mdc-paginator-container {
  justify-content: flex-start;
}

//fab flat icon
.gene-fab-flat-icon {
  background-color: $light-color !important;
  color: #37474F !important;
}

//popup widths
.popup-card-width {
  width: 520px;

  .mat-mdc-form-field {
    width: 100%;
  }
}

.cdk-overlay-container {
  .mat-mdc-dialog-actions {
    margin-bottom: 0;
  }

  .mat-mdc-dialog-actions {
    padding-bottom: 0;
  }
}

//video player
//bound video player
vg-overlay-play .vg-overlay-play {
  left: 0;
}

@media(max-width: 599px) {
  //Responsive Toolbar
  body .make-toolbar-responsive {
    padding: 0 0.6rem;
    font: 500 1rem/2.125rem Roboto, "Helvetica Neue", sans-serif;

    .mat-mdc-icon-button {
      height: 2.125rem;
      width: 2.125rem;
      line-height: 2.125rem;
    }
  }
  .invoice-content-wrap.pad-all-xl {
    padding: 2rem !important;
  }
  .mat-mdc-menu-panel {
    margin: 1rem;
  }
  .invoice-header {
    .bdr-left:first-child {
      border-width: 0px;
    }
  }
  //user management list
  .user-manage-list .mat-mdc-paginator-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .mail-pagination-wrap .mat-mdc-paginator-range-label {
    margin: 0;
    margin-right: 0.5rem;
  }
}

.mat-mdc-paginator {
  .mat-mdc-form-field-wrapper {
    padding-bottom: 10px;
  }
}

@media(max-width: 560px) {
  .mat-mdc-paginator {
    .mat-mdc-form-field-wrapper {
      padding-bottom: 10px;
    }

    .mat-mdc-paginator-container {
      justify-content: flex-end;
      width: 100%;
    }

    .mat-mdc-icon-button {
      width: 2rem;
    }
  }
}

@media(max-width: 720px) {
  .popup-card-width, .popup-card-width.add-new-user {
    width: 220px;
  }
}

.label {
  background-color: #f0f0f0;
  width: 100%;
  color: #000;
  font-size: 17px;
}

.success-bg {
  padding: 10px 20px;
  font-size: 16px;
}

.form-label {
  background-color: #f0f0f0;
  width: 100%;
  color: #000;
  font-size: 17px;
  padding: 10px;
  border-radius: 9px;
}

body .mat-mdc-card, .mat-mdc-elevation-z8 {
  box-shadow: -1px -2px -2px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important
}

* {
  outline-color: -webkit-focus-ring-color;
  outline-style: none;
  outline-width: 5px;
}

.mat-mdc-tab-label.mat-mdc-tab-disabled, .mat-mdc-tab-link.mat-mdc-tab-disabled {
  color: #5c5959 !important
}

.side-list-btn {
  position: absolute !important;
  right: 68px;
}

.login-logo {
  display: flex;
  justify-content: center;
  align-content: center;
}

.mat-mdc-dialog-content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-mdc-dialog-content {
  min-height: 70px;
}

.mat-mdc-elevation-z8, ngx-datatable {
  overflow-x: auto;
}

.spinner-border {
  width: 80px !important;
  height: 80px !important;
  color: mat-color($primary);
  z-index: 9999999999;
}

.toast-custom-position {
  position: fixed;
  top: 0;
  left: 40%;
}

//.mat-mdc-raised-button.mat-mdc-button-disabled:not([class*=mat-elevation-z]){
.mat-mdc-raised-button.mat-mdc-button-disabled {
  cursor: not-allowed;
}

tbody tr td, .username {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  max-width: 150px !important;
  width: unset !important;
}

.mat-mdc-tab-label.mat-mdc-tab-disabled, .mat-mdc-tab-link.mat-mdc-tab-disabled {
  opacity: .3 !important;
  cursor: not-allowed !important;
}

.ngx-datatable.material .empty-row {
  text-align: center !important;
}

input[readonly = true] {
  cursor: not-allowed;
}

mat-paginator mat-form-field {
  width: 50%;
}

mat-form-field + small {
  margin-top: -2rem !important;
  margin-bottom: 1.5rem !important;
}

input[type='button'] {
  margin: 15px;
}

.mat-mdc-form-field-appearance-outline .mat-mdc-form-field-infix {
  padding: 10px 0 1em 0 !important;

  input {
    height: 24px;
  }
}

table thead tr th input, datatable-header-cell input {
  padding: 5px !important;
  font-size: 13px !important;
  color: #000 !important;
}

table thead tr th span, datatable-header-cell h6 {
  font-size: 13px !important;
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold !important;
}

.disabled {
  opacity: .5;
}

.mat-mdc-raised-button.mat-mdc-button-disabled:not([class*=mat-elevation-z]) {
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%), 0px 0px 0px 0px rgb(0 0 0 / 14%), 0px 0px 0px 0px rgb(0 0 0 / 12%) !important;
  background-color: rgba(0, 0, 0, 0.12) !important;;
  color: rgba(0, 0, 0, 0.26) !important;;
  cursor: not-allowed !important;;
}

a {
  text-decoration: none !important;
}

.mat-mdc-elevation-z8 {
  box-shadow: none !important;
}

.mat-mdc-elevation-z8 .mat-mdc-header-row .mat-mdc-header-cell {
  padding-top: 25px;
}

.material-icon-picker {
  position: absolute;
  background: #fcfcfc;
  text-align: center;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.material-icon-picker:focus {
  outline: none;
}

.material-icon-picker-prefix {
  top: .5rem;
}

.material-icon-picker .icons {
  max-width: 300px;
  max-height: 200px;
  overflow: scroll;
}

div.material-icon-picker input[type="text"] {
  width: 100%;
}

.material-icon-picker .material-icons {
  font-size: 30px;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  margin: 3px;
  transition: .2s;
}

.material-icon-picker .material-icons:hover {
  background: #ececec;
}

.hidden {
  visibility: hidden;
  display: none !important;
}

.mat-mdc-slide-toggle {
  height: 40px;
  //width: 80px;
}

.mat-mdc-slide-toggle-bar {
  height: 32px !important;
  width: 60px !important;
  border-radius: 17px !important;
  padding: 14px !important;
}

.mat-mdc-slide-toggle-thumb-container {
  top: 2px !important;
  left: 2px !important;
}

.mat-mdc-slide-toggle-thumb {
  height: 27px !important;
  //margin: 5px 0 0 0;
  width: 26px !important;
}

.mat-mdc-slide-toggle.mat-mdc-checked:not(.mat-mdc-disabled) .mat-mdc-slide-toggle-thumb-container {
  left: unset !important;
  right: 24px;
}

.mat-mdc-slide-toggle .mat-mdc-slide-toggle-bar {
  background-color: var(--grey-color);
}

.mat-mdc-slide-toggle.mat-mdc-checked:not(.mat-mdc-disabled) .mat-mdc-slide-toggle-bar {
  background-color: var(--primary-color);
}

.mat-mdc-slide-toggle.mat-mdc-checked:not(.mat-mdc-disabled) .mat-mdc-slide-toggle-thumb {
  background-color: var(--secondary-color);
}

.mat-mdc-slide-toggle.mat-mdc-checked:not(.mat-mdc-disabled) .mat-mdc-slide-toggle-thumb {
  background-color: var(--secondary-color);
}

.mat-mdc-list-option:hover, .mat-mdc-list-option:focus, .mat-mdc-nav-list .mat-mdc-list-item:hover, .mat-mdc-nav-list .mat-mdc-list-item:focus, .mat-mdc-action-list .mat-mdc-list-item:hover, .mat-mdc-action-list .mat-mdc-list-item:focus {
  background: transparent !important;
}

.breadcrumbs__container {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  align-items: center;
  background-color: unset !important;

  li.breadcrumbs__item {
    //font-size: 23px;
    padding: 0 !important;
    margin-right: 10px;

    a {
      color: var(--primary-color);
    }

    span {
      color: var(--grey-color);
      text-decoration: none;
      background-color: transparent;
      font-size: 15px;
      font-weight: 500;
    }

    span:hover {
      //color: #fff;
      text-decoration: none;
    }
  }

  li.breadcrumbs__item.active {
    background: unset !important;
    color: var(--grey-color);
  }

  li.breadcrumbs__item:nth-child(n+2)::before {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    padding-left: 4px;
    padding-right: 20px;
    font-size: 25px;
    color: #a2a0a0;
    height: 14px;
    width: 8.24px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    content: ".";
  }
}

.gene-base-container, .cdk-overlay-pane {
  .mat-mdc-form-field-appearance-outline .mat-mdc-form-field-infix input {
    //text-align: center;
    padding: 2px;
    font-size: 14px;
    height: 28px;
  }

  .mat-mdc-form-field-appearance-outline .mat-mdc-form-field-infix mat-select {
    //text-align: center;
    padding: 2px;
    font-size: 14px;
    height: 32px;
  }

  //.mat-mdc-form-field-appearance-outline .mat-mdc-form-field-infix textarea{
  //  //text-align: center;
  //  padding: 2px;
  //  font-size: 14px;
  //  height: 32px;
  //}
  .mat-mdc-form-field-infix {
    padding: 3px !important;
    border-top: 12px solid transparent;
    border-bottom: 0px solid transparent;
  }

  .mat-mdc-button-wrapper {
    svg {
      height: 26px !important;
    }

    .mat-mdc-datepicker-toggle-default-icon {
      width: 1em;
    }
  }

  .mat-mdc-form-field-appearance-outline .mat-mdc-form-field-prefix, .mat-mdc-form-field-appearance-outline .mat-mdc-form-field-suffix {
    top: -4px !important;
  }

  .mat-mdc-form-field-label {
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  .breadcrumbs__container {
    padding: 0 !important;

    a.mat-mdc-button {
      padding: 0 10px !important;
    }
  }
  .breadcrumbs__container:not(:nth-child(1)):before {
    margin: 0 !important;
  }
}

.image {
  object-fit: contain;
}

html {
  overflow-x: hidden;
}

button .mdc-button__label .mat-button-wrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.multiselect-dropdown {
  width: 100% !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  overflow: hidden !important;
}

.multiselect-dropdown span.optext .optdel:before {
  content: "\f00d" !important;
  font: normal normal normal 14px/1 FontAwesome;
}

.multiselect-dropdown span.optext .optdel {
  float: right !important;
  margin: 0 -6px 1px 5px !important;
  font-size: 0 !important;
  cursor: pointer !important;
  color: #666 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 0 !important;
}

.multiselect-dropdown .placeholder {
  background-color: unset !important;
  opacity: 1 !important;
  color: #6f6e6e !important;
}

.multiselect-dropdown-list {
  max-height: 15rem !important;
  height: unset !important;
}

//.mdc-switch__handle {
//  height: 27px !important;
//  width: 26px !important;
//}
.mat-drawer-content {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.fa {
  font: 14px/1 FontAwesome !important;
}

select {
  visibility: hidden;
}

.multiselect-dropdown {
  display: inline-block;
  padding: 2px 5px 0px 5px;
  border-radius: 4px;
  border: solid 1px #ced4da;
  background-color: white;
  position: relative;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
}

.multiselect-dropdown span.optext, .multiselect-dropdown span.placeholder {
  margin-right: 0.5em;
  margin-bottom: 2px;
  padding: 1px 0;
  border-radius: 4px;
  display: inline-block;
}

.multiselect-dropdown span.optext {
  background-color: lightgray;
  padding: 1px 0.75em;
}

.multiselect-dropdown span.optext .optdel {
  float: right;
  margin: 0 -6px 1px 5px;
  font-size: 0.7em;
  margin-top: 2px;
  cursor: pointer;
  color: #666;
}

.multiselect-dropdown span.optext .optdel:hover {
  color: #c66;
}

.multiselect-dropdown span.placeholder {
  color: #ced4da;
}

.multiselect-dropdown-list-wrapper {
  box-shadow: gray 0 3px 8px;
  z-index: 100;
  padding: 2px;
  border-radius: 4px;
  border: solid 1px #ced4da;
  display: none;
  margin: -1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: white;
}

.multiselect-dropdown-list-wrapper .multiselect-dropdown-search {
  margin-bottom: 5px;
}

.multiselect-dropdown-list {
  padding: 2px;
  height: 15rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.multiselect-dropdown-list::-webkit-scrollbar {
  width: 6px;
}

.multiselect-dropdown-list::-webkit-scrollbar-thumb {
  background-color: #bec4ca;
  border-radius: 3px;
}

.multiselect-dropdown-list div {
  padding: 5px;
}

.multiselect-dropdown-list input {
  height: 1.15em;
  width: 1.15em;
  margin-right: 0.35em;
}

.multiselect-dropdown-list div.checked {
}

.multiselect-dropdown-list div:hover {
  background-color: #ced4da;
}

.multiselect-dropdown span.maxselected {
  width: 100%;
}

.multiselect-dropdown-all-selector {
  border-bottom: solid 1px #999;
}
