@media(max-width:720px){
  *{
    font-size: 12px;
  }
  table {
    .mat-mdc-cell, .mat-mdc-header-cell span{
      font-size: 11px !important;
    }

    th.mat-mdc-header-cell input{
      width: 50% !important;
      height: 17px !important;
      max-width: 75px;
      font-size: 10px !important;
    }
  }
  .roles-permissions mat-list-option {
    width: 50% !important;
  }
}
