<div class="card-body container-fluid exception-codes">
  <div class="row justify-content-center">
    <div class="col-sm-6 card d-flex flex-column p-3">
      <div class="col-sm-12">
        <form [formGroup]="form" class="col-sm-12 justify-content-start">
          <div class="d-flex justify-content-center align-items-center mb-3">
            <h2>{{data ? ('Update Exception code' | translate) : ('Create new Exception code' | translate)}}</h2></div>

          <h3>{{'You can choose one of the following default symbols that represent your intention.' | translate}} </h3>
          <div class="d-flex row">
            <div class="col-sm-12 col-md-6 ">
              <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
                <mat-label>{{'Code english name' | translate}}</mat-label>
                <input matInput placeholder="{{'Code english name' | translate}}" type="text" name="name_en"
                       formControlName="name_en">
              </mat-form-field>
              <small
                *ngIf="form.controls['name_en'].hasError('required') && form.controls['name_en'].touched"
                class="warn-text gene-block">
                {{'You must include english code name' | translate}}
              </small>
              <small
                *ngIf="form.controls['name_en'].errors && (form.controls['name_en'].hasError('wrong')) && form.controls['name_en'].touched"
                class="warn-text gene-block">
                {{'You must include a valid english code name' | translate}}
              </small>
            </div>

            <div class="col-sm-12 col-md-6 ">
              <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
                <mat-label>{{'Code arabic name' | translate}}</mat-label>
                <input matInput placeholder="{{'Code arabic name' | translate}}" type="text" name="name_ar"
                       formControlName="name_ar">
              </mat-form-field>
              <small
                *ngIf="form.controls['name_ar'].hasError('required') && form.controls['name_ar'].touched"
                class="warn-text gene-block">
                {{'You must include arabic code name' | translate}}
              </small>
              <small
                *ngIf="form.controls['name_ar'].errors && (form.controls['name_ar'].hasError('wrong')) && form.controls['name_ar'].touched"
                class="warn-text gene-block">
                {{'You must include a valid arabic code name' | translate}}
              </small>
            </div>

            <div class="col-sm-12 col-md-6 code-symbols d-flex">
              <mat-radio-group formControlName="symbol" id="" class="example-radio-group row mx-0"
                               (change)="chooseSymbol($event.value, 'default')">
                <ng-container *ngFor="let symbol of symbols">
                  <mat-radio-button tooltip="{{symbol?.name}}" [ngClass]="chosedSymbol === symbol ? 'selected' : ''"
                                    class="example-radio-button py-2 w-25" [value]="symbol">
                    <!--                    <span [ngStyle]="{color: chosedSymbol === symbol ? '#fff' : '#000'}" class="{{symbol?.symbol_name}}"></span>-->
                    <mat-icon svgIcon="{{symbol?.symbol_name}}"></mat-icon>
                  </mat-radio-button>
                </ng-container>
              </mat-radio-group>
              <small
                *ngIf="form.controls['symbol'].hasError('required') && form.controls['symbol'].touched"
                class="warn-text gene-block">
                {{'You must include symbol' | translate}}
              </small>
              <small
                *ngIf="form.controls['symbol'].errors && (form.controls['symbol'].hasError('wrong')) && form.controls['symbol'].touched"
                class="warn-text gene-block">
                {{'You must include a valid symbol' | translate}}
              </small>
            </div>

            <!--            <div class="mt-4">-->
            <!--              <a class="">-->
            <!--              <span *ngIf="!showSymbols">{{'OR' | translate}} <span class="clickable"-->
            <!--                                                                    (click)=" loadIcons(); showSymbols = !showSymbols;searchI.value = ''">{{'Click here' | translate}}-->
            <!--              </span><span>{{'to find more icons' | translate}}</span></span>-->
            <!--                <span class="clickable" (click)="showSymbols = !showSymbols"-->
            <!--                      *ngIf="showSymbols">{{'Show less' | translate}}</span>-->
            <!--              </a>-->
            <!--            </div>-->
            <!--            <div class="row customIcons" [ngClass]="{'show': showSymbols}">-->
            <!--              <div class="col">-->
            <!--                <div>-->
            <!--                  <div class="card card-body d-flex">-->
            <!--                    <mat-form-field class="w-50" appearance="outline">-->
            <!--                      <mat-icon matPrefix>search</mat-icon>-->
            <!--                      <input autofocus #searchI [formControl]="searchCtrl" matInput type="search"-->
            <!--                             placeholder="{{'Search icons' | translate}}" class="search-input">-->
            <!--                    </mat-form-field>-->
            <!--                    <div class="col-sm-12 code-symbols" #customIcons>-->
            <!--                      <mat-radio-group formControlName="symbol" id="2" class="example-radio-group row mx-0"-->
            <!--                                       (change)="chooseSymbol($event.value)">-->
            <!--                        <ng-container *ngFor="let symbol of icons">-->
            <!--                          <mat-radio-button tooltip="{{symbol}}" [ngClass]="chosedSymbol === symbol ? 'selected' : ''"-->
            <!--                                            class="example-radio-button py-2 w-25" [value]="symbol">-->
            <!--                            &lt;!&ndash;                    <span [ngStyle]="{color: chosedSymbol === symbol ? '#fff' : '#000'}" class="{{symbol?.symbol_name}}"></span>&ndash;&gt;-->
            <!--                            <mat-icon svgIcon="{{symbol}}"></mat-icon>-->
            <!--                          </mat-radio-button>-->
            <!--                        </ng-container>-->
            <!--                      </mat-radio-group>-->
            <!--                    </div>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->


            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <a class="">
                      <span *ngIf="!showSymbols">
<!--                        {{'OR' | translate}}-->
                        <span class="clickable"
                              (click)=" loadIcons(); showSymbols = !showSymbols;searchI.value = ''">{{'Load more icons ...' | translate}}
                      </span>
                        <!--                      <span>{{'to find more icons' | translate}}</span>-->
                      </span>
                      <span class="clickable" (click)="showSymbols = !showSymbols"
                            *ngIf="showSymbols">{{'Show less' | translate}}
                      </span>
                    </a>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="card card-body d-flex">
                  <mat-form-field class="w-50" appearance="outline">
                    <mat-icon matPrefix>search</mat-icon>
                    <input autofocus #searchI [formControl]="searchCtrl" matInput type="search"
                           placeholder="{{'Search icons' | translate}}" class="search-input">
                  </mat-form-field>
                  <div class="col-sm-12 code-symbols" #customIcons>
                    <mat-radio-group formControlName="symbol" id="2" class="example-radio-group row mx-0"
                                     (change)="chooseSymbol($event.value)">
                      <ng-container *ngFor="let symbol of icons">
                        <mat-radio-button tooltip="{{symbol}}" [ngClass]="chosedSymbol === symbol ? 'selected' : ''"
                                          class="example-radio-button py-2 w-25" [value]="symbol">
                          <!--                    <span [ngStyle]="{color: chosedSymbol === symbol ? '#fff' : '#000'}" class="{{symbol?.symbol_name}}"></span>-->
                          <mat-icon svgIcon="{{symbol}}"></mat-icon>
                        </mat-radio-button>
                      </ng-container>
                    </mat-radio-group>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>


          </div>
          <div class="col-sm-12 justify-content-center my-3 justify-content-lg-end d-flex">
            <button mat-button class="mx-2 warn-bg"
                    [routerLink]="['/configurations/exception-codes']">{{'Back' | translate}}</button>
            <button (click)="save(form?.value)" [disabled]="!form.valid" color="primary" mat-raised-button
                    class="" cdkFocusInitial>
              {{data ? ('Update' | translate) : ('Create' | translate)}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
