.inner-cont{
  max-height: 40px;
}
::ng-deep{
  .view-event {
    .mat-form-field-appearance-outline .mat-form-field-infix input{
      //text-align: center;
      padding: 2px;
      font-size: 14px;
      height: 28px;
    }
    .mat-form-field-infix{
      padding: 3px !important;
      border-top: 12px solid transparent;
      border-bottom: 0px solid transparent;
    }
    .mat-button-wrapper{
      svg{
        height: 26px !important;
      }
      .mat-datepicker-toggle-default-icon{
        width: 1em;
      }
    }
    .mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix{
      top: -4px !important;
    }
    .mat-form-field-label{
      font-size: 14px;
    }
  }
}
@media (min-width: 1200px) {
  .back-btn {
    display: none !important;
  }
}
