<div class="view-event d-flex justify-content-center">
    <form [formGroup]="form" (ngSubmit)="save(form?.value)" style="text-align: center" fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="d-flex justify-content-center inner-cont">
          <div fxFlex.gt-sm="24" fxFlex.gt-xs="24" fxFlex="100"  [ngClass]="{'mrgn-x-sm': language === 'en'}" class="" style="text-align: center">
            <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
              <mat-label>{{'Type' | translate}}</mat-label>
              <input [readonly]="(!data?.title && !this.data?.extendedProps?.excepTitle)" type="text" matInput formControlName="type" [matAutocomplete]="auto1">
              <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn"
                                (opened)="handlerAutocomplete('type')">
                <mat-option *ngFor="let option of typesFilteredOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
<!--            <small-->
<!--              *ngIf="form.controls['type'].hasError('required') && form.controls['type'].touched"-->
<!--              class="warn-text gene-block">-->
<!--              {{'You must include type' | translate}}-->
<!--            </small>-->
<!--            <small-->
<!--              *ngIf="form.controls['type'].errors && !(form.controls['type'].hasError('required')) && form.controls['type'].touched"-->
<!--              class="warn-text gene-block">-->
<!--              {{'You must include a valid type' | translate}}-->
<!--            </small>-->
          </div>
          <div fxFlex.gt-sm="24" fxFlex.gt-xs="24" fxFlex="100"  class="mrgn-x-sm" style="text-align: center">
            <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
              <mat-label>From</mat-label>
              <input matInput
                     name="selected_time_A"
                     formControlName="dateFrom"
                     [ngxMatTimepicker]="pickerA"
                     placeholder="HH:MM"
                     [disableClick]="!data"
                     [min]="'09:00 AM'"
                     [max]="'06:00 PM'"
                     [disabled]="!data"
                     [format]=24
                     readonly />
              <mat-icon matSuffix [ngClass]="{'low-opacity': !data}"
                        (click)="data ? pickerA.open() : null">
                watch_later
              </mat-icon>
            </mat-form-field>
            <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>
          </div>
          <div fxFlex.gt-sm="24" fxFlex.gt-xs="24" fxFlex="100" [ngClass]="{'mrgn-x-sm': language === 'ar'}" class="" style="text-align: center">
            <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
              <mat-label>To</mat-label>
              <input matInput
                     name="selected_time_B"
                     formControlName="dateTo"
                     [ngxMatTimepicker]="pickerB"
                     placeholder="HH:MM"
                     [min]="'09:00 AM'"
                     [max]="'06:00 PM'"
                     [disableClick]="!data"
                     [disabled]="!data"
                     [format]=24
                     readonly />
              <mat-icon matSuffix [ngClass]="{'low-opacity': !data}"
                        (click)="data ? pickerB.open() : null">
                watch_later
              </mat-icon>
            </mat-form-field>
            <ngx-mat-timepicker #pickerB></ngx-mat-timepicker>
          </div>
        </div>
    </form>
</div>
