<div class="list d-flex flex-column card-body">
  <div class="col-sm-12 d-flex mt-2 justify-content-end">
    <button [routerLink]="['/configurations/create-department']" tooltip="Add new row" color="primary" mat-raised-button type="button" class="primary-bg">
      <mat-icon>add</mat-icon>
      {{'Create'| translate}}</button>
  </div>
  <div class="">
    <app-data-table (deleteEvent)="deleteRow($event)" [dataTableName]="'departments'" [displayedColumns]="displayedColumns" [data]="data"></app-data-table>
  </div>
</div>
