<div class="language-dropdown-wrap">
  <button [matMenuTriggerFor]="languageMenu" mat-icon-button type="button">
    <img width="24" height="24" [src]="selectedLanguage?.img" alt="">
  </button>
  <mat-menu #languageMenu="matMenu" overlapTrigger="false" xPosition="before" yPosition="below">
    <ng-container *ngFor="let language of languageList">
      <button mat-menu-item (click)="changeSiteLanguage(language.code)">
        <img width="24" height="24" [src]="language?.img" alt="">
        <span> {{ language.label | translate }}
          </span>
      </button>
    </ng-container>
  </mat-menu>
</div>
