<div class="card-body container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-6 card d-flex flex-column p-3 my-4">
      <div class="col-sm-12">
        <form [formGroup]="form" class="col-sm-12 justify-content-start">
          <div class="d-flex justify-content-center align-items-center mb-3"><h2>{{data ? ('Update site' | translate) : ('Create new site' | translate)}}</h2></div>
          <div class="d-flex row">
            <div class="col-sm-12 col-md-6 ">
              <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
                <mat-label>{{'Site english name' | translate}}</mat-label>
                <input matInput placeholder="{{'Site english name' | translate}}" type="text" name="name_en"
                       formControlName="name_en">
              </mat-form-field>
              <small
                *ngIf="form.controls['name_en'].hasError('required') && form.controls['name_en'].touched"
                class="warn-text gene-block">
                {{'You must include english name' | translate}}
              </small>
              <small
                *ngIf="form.controls['name_en'].errors && (form.controls['name_en'].hasError('wrong')) && form.controls['name_en'].touched"
                class="warn-text gene-block">
                {{'You must include a valid english name' | translate}}
              </small>
            </div>
            <div class="col-sm-12 col-md-6 ">
              <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
                <mat-label>{{'Site arabic name' | translate}}</mat-label>
                <input matInput placeholder="{{'Site arabic name' | translate}}" type="text" name="name_ar"
                       formControlName="name_ar">
              </mat-form-field>
              <small
                *ngIf="form.controls['name_ar'].hasError('required') && form.controls['name_ar'].touched"
                class="warn-text gene-block">
                {{'You must include arabic name' | translate}}
              </small>
              <small
                *ngIf="form.controls['name_ar'].errors && (form.controls['name_ar'].hasError('wrong')) && form.controls['name_ar'].touched"
                class="warn-text gene-block">
                {{'You must include a valid arabic name' | translate}}
              </small>
            </div>
            <div class="col-sm-12 col-md-6 ">
              <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
                <mat-label>{{'Tolerance' | translate}}</mat-label>
                <input matInput placeholder="{{'Tolerance' | translate}}" type="text" name="tolerance"
                       formControlName="tolerance">
              </mat-form-field>
              <small
                *ngIf="form.controls['tolerance'].hasError('required') && form.controls['tolerance'].touched"
                class="warn-text gene-block">
                {{'You must include tolerance' | translate}}
              </small>
              <small
                *ngIf="form.controls['tolerance'].errors && (form.controls['tolerance'].hasError('wrong')) && form.controls['tolerance'].touched"
                class="warn-text gene-block">
                {{'You must include a valid tolerance' | translate}}
              </small>
            </div>
            <div class="col-sm-12 col-md-6 ">
              <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
                <mat-label>{{'Latitude' | translate}}</mat-label>
                <input matInput placeholder="{{'latitude' | translate}}" type="text" name="name"
                       formControlName="latitude">
              </mat-form-field>
              <small
                *ngIf="form.controls['latitude'].hasError('required') && form.controls['latitude'].touched"
                class="warn-text gene-block">
                {{'You must include latitude' | translate}}
              </small>
              <small
                *ngIf="form.controls['latitude'].errors && (form.controls['longitude'].hasError('wrong')) && form.controls['latitude'].touched"
                class="warn-text gene-block">
                {{'You must include a valid latitude' | translate}}
              </small>
            </div>
            <div class="col-sm-12 col-md-6 ">
              <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
                <mat-label>{{'Longitude' | translate}}</mat-label>
                <input matInput placeholder="{{'longitude' | translate}}" type="text" name="longitude"
                       formControlName="longitude">
              </mat-form-field>
              <small
                *ngIf="form.controls['longitude'].hasError('required') && form.controls['longitude'].touched"
                class="warn-text gene-block">
                {{'You must include longitude' | translate}}
              </small>
              <small
                *ngIf="form.controls['longitude'].errors && (form.controls['longitude'].hasError('wrong')) && form.controls['longitude'].touched"
                class="warn-text gene-block">
                {{'You must include a valid longitude' | translate}}
              </small>
            </div>

          </div>
        </form>
      </div>
      <div class="col-sm-12">
        <div id="map"></div>
      </div>
      <div class="col-sm-12 d-flex justify-content-center my-3 justify-content-lg-end d-flex align-items-center">
        <button  mat-button class="mx-2 warn-bg" [routerLink]="['/configurations/sites']">{{'Back' | translate}}</button>
        <button (click)="save(form?.value)" [disabled]="!form.valid" color="primary" mat-raised-button class="" cdkFocusInitial>
          {{data ? ('Update' | translate): ('Create' | translate)}}
        </button>
      </div>
    </div>
  </div>

</div>
