.fc .fc-button{
  background-color: mat-color($primary) !important;
}
.fc-event{
  //height: 100px !important;
}
.fc-cell{
  width: 50px;
}
.resource-cell{
  background-color: #FFFFFF;
}
.mat-tab-label-active{
  background: mat-color($primary) !important;
  text-align: center;
  color: white!important;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1 !important;
}
.fc-scroller{
  //overflow: visible !important;
}
.fc-datagrid-body tr{
  //text-align: center !important;
}
.mat-tab-body-wrapper{
  margin-top: 20px;
}
.fc-agenda-slots td div { height: 10px !important; }
.fc .fc-datagrid-cell-cushion{
  //padding: 3px !important;
}
.fc-datagrid-cell-frame{
  //height: 33px !important;
}
.fc-resource-timeline table tbody tr .fc-datagrid-cell div { height: 33px !important; }
.fc .fc-timeline-overlap-enabled .fc-timeline-lane-frame .fc-timeline-events{
  padding-bottom: 0 !important;
  height: 33px !important;
}
.fc-timeline-event{
  padding: 4px 1px !important;
}
.fc-timeline-event-harness{
  top: 0 !important;
}
.fc .fa-lastfm-square:before {
  content: "\f203";
  padding: 0px 0px;
  font-size: 28px;
}
