.fc .fc-button{
  background-color: mat-color($primary) !important;
}
.fc-event{
  //height: 100px !important;
}
.fc-cell{
  width: 50px;
}
.resource-cell{
  background-color: #FFFFFF;
}
.mat-tab-label-active{
  background: mat-color($primary) !important;
  text-align: center;
  color: white!important;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1 !important;
}
.fc-scroller{
  //overflow: visible !important;
}
.fc-datagrid-body tr{
  //text-align: center !important;
}
.mat-tab-body-wrapper{
  margin-top: 20px;
}
