.p-title{
  padding: 5px;
  background: #ededed;
  width: 100%;
  border-radius: 5px;
  /* color: white; */
  text-align: center;
  font-weight: bold;
}
.custom-badge{
  background: var(--grey-color);
  color: white;
  border-radius: 9px;
  padding: 2px 9px;
  margin: 5px 10px;
  width: unset !important;
}
