<mat-drawer-container class="example-container" autosize
                      [ngClass]="{'mat-drawer-container-mobile': (isMobile$ | async)}">
  <div class="list d-flex flex-column card-body">
    <div class="col-sm-12 d-flex my-2 justify-content-lg-end page-actions" *ngIf="showCreate"
         [ngClass]="filtersNames?.length && (isMobile$ | async) ? 'justify-content-between' : 'justify-content-end'">
      <button (click)="openDrawer()" *ngIf="filtersNames?.length && (isMobile$ | async)" tooltip="Open filters"
              color="primary" mat-raised-button type="button"
              class="">
        <i class="fa fa-filter"></i>
        {{'Filters'| translate}}</button>
      <button *ngIf="createLink" [routerLink]="[createLink]" tooltip="{{'Add new row' | translate}}" color="primary"
              mat-raised-button type="button"
              class="primary-bg m-0">
        <mat-icon>add</mat-icon>
        {{'Create'| translate}}</button>
    </div>
    <div class="">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 d-flex d-flex align-items-start p-0">
            <div *ngIf="filtersNames?.length && !(isMobile$ | async)" class="side-filters-container pt-0 col-sm-2">
              <app-side-filter (emittedData)="sideFilter($event)" [pawStatistics]="pawStatistics"
                               [filtersNames]="filtersNames"></app-side-filter>
            </div>
            <div class="w-100 overflow-auto"
                 [ngClass]="{'table-with-filters': filtersNames?.length && !(isMobile$ | async)}">
              <div class="w-100 overflow-auto">
                <table #table id="htmlData" mat-table [dataSource]="dataSource">
                  <ng-container *ngFor="let column of columns?.values; let i = index">
                    <ng-container *ngIf="column === 'actions'; else others" [matColumnDef]="column" stickyEnd>
                      <th mat-header-cell *matHeaderCellDef>
                        <span class="column-label">{{'' | translate}}</span>
                      </th>

                      <td mat-cell *matCellDef="let row; let i = index" class="actions"
                          style="width: 10px; flex: none; min-width: 10px">
                        <div class="d-flex">
                          <a class="cursor-pointer mx-1 fa fa-edit d-flex justify-content-center align-items-center "
                             (click)="takeAction('Update', row)"></a> |
                          <a class="cursor-pointer mx-1 fa fa-trash d-flex justify-content-center align-items-center "
                             (click)="takeAction('Delete', row)"></a>
                        </div>
                      </td>
                    </ng-container>
                    <ng-template #others>
                      <ng-container [matColumnDef]="column">
                        <div *ngIf="column === 'view'">
                          <th mat-header-cell *matHeaderCellDef>
                            <span class="column-label">{{'' | translate}}</span>
                          </th>

                          <td mat-cell *matCellDef="let row; let i = index"
                              style="width: 10px; flex: none; min-width: 10px">
                            <div class="d-flex">
                              <a class="cursor-pointer mx-1"
                                 (click)="takeAction('View', row)">{{'View' | translate}}</a>
                            </div>
                          </td>
                        </div>

                        <div *ngIf="column === 'statusActions'">
                          <th mat-header-cell *matHeaderCellDef>
                            <span class="column-label">{{'' | translate}}</span>
                          </th>

                          <td mat-cell *matCellDef="let row; let i = index"
                              style="width: 10px; flex: none; min-width: 10px">
                            <div class="d-flex">
                              <a class="cursor-pointer mx-1 text-success text-truncate"
                                 (click)="takeAction('Approve', row)">{{'Approve' | translate}}</a> |
                              <a class="cursor-pointer mx-1 text-danger text-truncate"
                                 (click)="takeAction('Deny', row)">{{'Deny' | translate}}</a>
                            </div>
                          </td>
                        </div>

                        <div *ngIf="column === 'requestStatus'">
                          <th mat-header-cell *matHeaderCellDef>
                            <span class="column-label">{{'Status' | translate}}</span>
                            <div style="width: 100%" *ngIf="showSearch">
                              <input (keydown.space)="$event.stopPropagation()" (click)="$event.stopPropagation()"
                                     matInput
                                     placeholder="{{'Search' | translate}}" (keyup)="search($event, column)">
                            </div>
                          </th>
                          <td mat-cell *matCellDef="let row; let i = index">
                            <div class="">
                              <a class="primary-text status-text"
                                 [ngClass]="row[column] === 'Approved' ? 'bg-success text-white' : 'bg-warning text-dark'">{{row[column]}}</a>
                            </div>
                          </td>
                        </div>

                        <div *ngIf="column === 'weekends'">
                          <th mat-header-cell *matHeaderCellDef>
                            <span class="column-label">{{'Weekends' | translate}}</span>
                            <div style="width: 100%" *ngIf="showSearch">
                              <input (keydown.space)="$event.stopPropagation()" (click)="$event.stopPropagation()"
                                     matInput
                                     placeholder="{{'Search' | translate}}" (keyup)="search($event, column)">
                            </div>
                          </th>
                          <td mat-cell *matCellDef="let row; let i = index">
                            <div class="">
                              <a *ngFor="let day of row[column]; let index = index"
                                 class="mx-1">{{day.name.slice(0, 3)}} {{(index === row[column]?.length - 1) ? '' : ','}}</a>
                            </div>
                          </td>
                        </div>

                        <div *ngIf="column === 'symbol'">
                          <th mat-header-cell *matHeaderCellDef>
                            <span class="column-label">{{'Symbol' | translate}}</span>
                          </th>
                          <td mat-cell *matCellDef="let row; let i = index">
                            <div class="">
                              <!--                  <span style="font-size: 30px; color: #000" tooltip="{{row?.code}}" class="{{row[column].symbol_name}}"></span>-->
                              <mat-icon style="font-size: 30px; color: #000" tooltip="{{row[column]}}"
                                        svgIcon="{{row[column]}}"></mat-icon>
                            </div>
                          </td>
                        </div>

                        <div *ngIf="column === 'default permissions'">
                          <th mat-header-cell *matHeaderCellDef>
                            <span class="column-label">{{'Default permissions' | translate}}</span>
                          </th>
                          <td mat-cell *matCellDef="let row; let i = index"
                              style="width: 10px; flex: none; min-width: 10px">
                            <div class="">
                              <a class="cursor-pointer mx-1"
                                 (click)="takeAction('View', row)">{{'View' | translate}}</a>
                            </div>
                          </td>
                        </div>


                        <div *ngIf="column === 'color'">
                          <th mat-header-cell *matHeaderCellDef>
                            <span class="column-label">{{'Color' | translate}}</span>
                            <div style="width: 100%" *ngIf="showSearch">
                              <input (keydown.space)="$event.stopPropagation()" (click)="$event.stopPropagation()"
                                     matInput
                                     placeholder="{{'Search' | translate}}" (keyup)="search($event, column)">
                            </div>
                          </th>

                          <td mat-cell *matCellDef="let row; let i = index">
                            <div>
                              <input class="w-25" readonly disabled matInput type="color" [value]="row[column]">
                            </div>
                          </td>
                        </div>

                        <div *ngIf="column === 'individuals'">
                          <th mat-header-cell *matHeaderCellDef>
                            <span class="column-label">{{'Individuals' | translate}}</span>
                            <div style="width: 100%" *ngIf="showSearch">
                              <input (keydown.space)="$event.stopPropagation()" (click)="$event.stopPropagation()"
                                     matInput
                                     placeholder="{{'Search' | translate}}" (keyup)="search($event, column)">
                            </div>
                          </th>

                          <td mat-cell *matCellDef="let row; let i = index">
                            <div>
                              <a class="primary-text cursor-pointer" [routerLink]="['/team']"
                                 [queryParams]="{id: row.id}"
                                 [fragment]="dataTableName">{{row[column]}}</a>
                            </div>
                          </td>
                        </div>

                        <th mat-header-cell *matHeaderCellDef>
                          <span class="column-label">{{columns?.labels[i] | translate}}</span>
                          <div style="width: 100%" *ngIf="showSearch">
                            <input (keydown.space)="$event.stopPropagation()" (click)="$event.stopPropagation()"
                                   matInput
                                   placeholder="{{'Search' | translate}}" (keyup)="search($event, column)">
                          </div>
                        </th>
                        <td tooltip="{{row[column]?.length > 15 ? row[column] : ''}}" mat-cell
                            *matCellDef="let row"> {{row[column] === 0 ? '0' : row[column] || ' - ' | translate}} </td>
                      </ng-container>
                    </ng-template>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="columns?.values"></tr>
                  <tr [ngClass]="{'animated-bg': row.animate}" mat-row
                      *matRowDef="let row; columns: columns.values;"></tr>
                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell full-wid"
                        [attr.colspan]="columns.values?.length">{{'No data available' | translate}}</td>
                  </tr>
                </table>
              </div>
              <mat-paginator [class.hidden]="dataSource.filteredData.length === 0"
                             [pageSize]="pageSize"
                             [length]="total"
                             [showFirstLastButtons]="true"
                             [pageSizeOptions]="pageSizeOptions"
                             (page)="changePage($event)"
                             id="paginator"
                             class="sticky bottom-0 ltr:left-0 rtl:right-0 table-paginator border-t flex-none"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-drawer #drawer2 class="example-sidenav" mode="side">
    <app-side-filter class="" [pawStatistics]="pawStatistics" [fromContainer]="true" (emittedData)="sideFilter($event)"
                     [filtersNames]="filtersNames" (closeDrawer)="closeDrawer($event)"></app-side-filter>
  </mat-drawer>
</mat-drawer-container>
