.mat-drawer-container-mobile {
  min-height: 100vh;
  overflow-y: hidden;
}

th.mat-mdc-sort-header-sorted {
  color: black;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td {
  text-align: center;
}

.mat-mdc-sort-header-container {
  justify-content: center;
}

th.mat-mdc-header-cell .mat-mdc-sort-header-container .mat-mdc-sort-header-content {
  text-align: start !important;
  display: flex !important;;
  align-items: flex-start !important;;
  flex-direction: column !important;;
}

th.mat-mdc-header-cell .mat-mdc-sort-header-container .mat-mdc-sort-header-arrow {
  height: 12px;
  width: 12px;
  min-width: 12px;
  position: absolute !important;
  display: flex;
  opacity: 0;
  left: var(--arrow-left);
  top: 10%;
  right: var(--arrow-right);
}

th.mat-mdc-header-cell input {
  border: 1px solid;
  margin-top: 1px;
  border-radius: 3px;
  width: 75%;
  max-width: 100px;
  height: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.mat-mdc-success {
  background-color: #28a745;
  color: #fff;
}

.mat-mdc-form-field-wrapper {
  padding: 1.34375em .1em;
}

th.mat-mdc-header-cell {
  text-align: center !important;
  padding: 0 !important;
}

.mat-mdc-menu-panel {
  min-height: auto;
}

.animated-bg {
  animation: animate 50s forwards ease;
}

@keyframes animate {
  0% {
    background-color: greenyellow;
  }
  100% {
    background-color: #fff;
  }
}

.side-filters-container {
  //width: 12%;
  background: #fff;
  padding: 10px;
  margin: 16px 15px 0 0;
  border-radius: 5px;
}

.table-with-filters {
  width: 88% !important;
}

.status-text {
  padding: 3px 10px;
  border-radius: 11px;
}

.table-with-filters {
  box-shadow: none !important;
}
