<mat-drawer-container class="example-container" autosize>
  <div class="list d-flex flex-column card-body">
    <div class="col-sm-12 d-flex mt-2 justify-content-between justify-content-lg-end" *ngIf="showCreate">
      <button (click)="openDrawer()" *ngIf="isMobile" tooltip="Open filters" color="primary" mat-raised-button type="button"
              class="primary-bg">
        <i class="fa fa-filter"></i>
        {{'Filters'| translate}}</button>
      <button [routerLink]="[createLink]" tooltip="Add new row" color="primary" mat-raised-button type="button"
              class="primary-bg m-0">
        <mat-icon>add</mat-icon>
        {{'Create'| translate}}</button>
    </div>
    <div class="">
      <app-data-table [viewLink]="viewLink" [createLink]="createLink" [sideFilters]="sideFilters"
                      (deleteEvent)="delete($event)" [dataTableName]="dataTableName"
                      [displayedColumns]="displayedColumns" [data]="data"></app-data-table>
    </div>
  </div>
  <mat-drawer #drawer2 class="example-sidenav" mode="side">
    <app-side-filter class="" [pawStatistics]="pawStatistics" [fromContainer]="true" (emittedData)="sideFilter($event)" [sideFilters]="sideFilters" (closeDrawer)="closeDrawer($event)"></app-side-filter>
  </mat-drawer>
</mat-drawer-container>
