full-calendar{
  //width: 100%;
  //height: 100vh;
}
::ng-deep.fc-datagrid-body{
  width: 565px !important;
}
::ng-deep .fc-license-message{
  display:  none !important;
}
.custom-date{
  position: absolute;
  top: -6px;
  left: 32%
}
.timeline{
  position: relative;
}
.dgraggable-title{
  font-weight: 600;
  font-size: 15px;
}
.leaves .dgraggable{
  font-size: 11px;
  color: white;
  padding: 5px;
  border-radius: 3px;
  cursor: move;
  font-weight: 600;
}
.exception-codes .dgraggable {
  font-size: 27px;
  color: #000000;
  padding: 4px;
  border-radius: 3px;
  cursor: move;
  font-weight: 600;
  //margin: 10px 2px;
  display: inline-block;
}
.scrollable{
  height: 220px;
  overflow: auto;
}
.mydraggable{
  width: 10%;
  margin-top: 38px;
}
.timeline-view{
  width: 90%;
}
.calendar-container{
  position: relative;
}
.event-info{
  //width: 585px;
  position: absolute;
  top: -7px;
  left: 312px;
}
@media (max-width: 1200px) {
  .event-info{
    top: 60px !important;
    left: -10px !important;
  }
  #calendar{
    //margin-top: 322px;
  }
  .calendar-container{
    //margin-top: 0 !important;
  }
  .edit-event{
    display: none !important;
  }
  .container-fluid{
    height: 100vh;
  }
  .timeline-view{
    width: 100%;
  }
  ::ng-deep .timeline .mat-form-field-appearance-outline {
    margin-bottom: 0 !important;
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }
}
