<div class="container-fluid">
  <div class="timeline mt-1 row">
    <div id="mydraggable" class="mydraggable">

      <div class="d-flex flex-column">
        <div class="exception-codes">
          <p class="dgraggable-title">Exception Codes ( {{exceptionCodes?.length}} )</p>
          <div class="scrollable">
            <p [ngStyle]="{'background': item.color}" class="dgraggable"
               *ngFor="let item of exceptionCodes">{{item.title}}</p>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-2">
            <button color="primary" (click)="showAll('codes')" mat-raised-button
                    class="primary-bg">{{'Show All'|translate}}</button>
          </div>
        </div>
        <br>
        <mat-divider></mat-divider>
        <div class="leaves mt-4">
          <p class="dgraggable-title">Leaves ( {{leaves?.length}} )</p>
          <div class="scrollable">
            <p [ngStyle]="{'background': item.color}" class="dgraggable" *ngFor="let item of leaves">{{item.title}}</p>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-2">
            <button (click)="showAll('leaves')" color="primary" mat-raised-button
                    class="primary-bg">{{'Show All'|translate}}</button>
          </div>
        </div>
      </div>

    </div>
    <div class="timeline-view d-flex flex-column">
      <app-filters></app-filters>
      <div>
        <full-calendar id="calendar" *ngIf="options" [options]="options"></full-calendar>
      </div>
    </div>
  </div>

</div>
