full-calendar {
  //width: 100%;
  //height: 100vh;
  //border: 2px dashed grey;
  padding: 0 8px 8px 8px;
}

::ng-deep.fc-datagrid-body {
  width: 565px !important;
}

::ng-deep .fc-license-message {
  display: none !important;
}

.timeline {
  position: relative;
}

.dgraggable-title {
  font-weight: 500;
  font-size: 14px;
}

.leaves .dgraggable, .attendance .dgraggable {
  font-size: 11px;
  color: white;
  padding: 5px;
  border-radius: 3px;
  cursor: move;
  font-weight: 600;
  width: 29px;
  height: 27px;
  text-indent: -9999px;
}

.attendance .scrollable {
  //height: 138px;
}

.exception-codes .dgraggable {
  font-size: 27px;
  color: #000000;
  //padding: 4px;
  border-radius: 3px;
  cursor: move;
  font-weight: 600;
  //margin: 10px 2px;
  display: inline-block;
  width: 29px;
  height: 27px;
}

.scrollable {
  max-height: 113px;
  overflow: auto;
}

.mydraggable {
  //width: 13%;

  h3 {
    //margin-top: 72px;
  }

  .dgraggable-content {
    width: 100%;
    background-color: #e0e0e0;
    padding: 11px;
    border-radius: 5px;
  }
}

.timeline-view {
  //width: 88%;
  position: relative;
}

.calendar-container {
  position: relative;
}

@media (max-width: 1200px) {
  .event-info {
    top: 60px !important;
    left: -10px !important;
  }
  #calendar {
    //margin-top: 322px;
  }
  .calendar-container {
    //margin-top: 0 !important;
  }
  .edit-event {
    display: none !important;
  }
  .container-fluid {
    height: 100vh;
  }
  .timeline-view {
    width: 100%;
  }
  ::ng-deep .timeline .mat-mdc-form-field-appearance-outline {
    margin-bottom: 0 !important;

    .mat-mdc-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }
}

.mat-mdc-drawer-container {
  background-color: #ffffff;
}

.show-more {
  font-size: 13px;
  color: #484848;
  text-decoration: underline;
  cursor: pointer;
}

.leaves .scrollable {
  max-height: 113px;
}

::ng-deep .fa-calendar {
  font-size: 21px;
  margin: 0;
  width: 23px;
}

.custom-date {
  position: absolute;
  top: 10%;
  z-index: 9;
}

.event-info {
  position: absolute !important;
  //left: 317px;
  top: -70px;
  z-index: 99999;
}

.timeline-filters {
  //width: 585px;
  position: absolute;
  top: 0;
  left: 30%;
  width: auto;
  z-index: 99999999;
}

.attendance {
  max-height: 65px;
}
