full-calendar{
  //width: 100%;
  //height: 100vh;
}
::ng-deep.fc-datagrid-body{
  width: 565px !important;
}
::ng-deep .fc-license-message{
  display:  none !important;
}
.custom-date{
  position: absolute;
  top: -6px;
  left: 300px;
}
.timeline{
  position: relative;
}
