<div class="container-fluid">
  <form [formGroup]="form" class="row inner-cont justify-content-end">
    <div class="col-sm-12 col-md-6 col-lg-2">
      <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
        <mat-label>{{'Department' | translate}}</mat-label>
        <input type="text" matInput formControlName="department" [matAutocomplete]="auto0">
        <mat-autocomplete #auto0="matAutocomplete" [displayWith]="displayFn"
                          (opened)="handlerAutocomplete('department')">
          <mat-option *ngFor="let option of departmentsFilteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <small
        *ngIf="form.controls['department'].errors && (form.controls['department'].hasError('wrong')) && form.controls['department'].touched"
        class="warn-text gene-block">
        {{'You must include a valid department' | translate}}
      </small>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-2">
      <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
        <mat-label>{{'Site' | translate}}</mat-label>
        <input type="text" matInput formControlName="site" [matAutocomplete]="auto2">
        <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn"
                          (opened)="handlerAutocomplete('site')">
          <mat-option *ngFor="let option of sitesFilteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <small
        *ngIf="form.controls['site'].errors && (form.controls['site'].hasError('wrong')) && form.controls['site'].touched"
        class="warn-text gene-block">
        {{'You must include a valid site' | translate}}
      </small>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-2">
      <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
        <mat-label>{{'Sort' | translate}}</mat-label>
        <input type="text" matInput formControlName="sort" [matAutocomplete]="auto1">
        <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn"
                          (opened)="handlerAutocomplete('sort')">
          <mat-option *ngFor="let option of sortsFilteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <small
        *ngIf="form.controls['sort'].errors && (form.controls['sort'].hasError('wrong')) && form.controls['sort'].touched"
        class="warn-text gene-block">
        {{'You must include a valid sort' | translate}}
      </small>
    </div>
  </form>
</div>
