<div class="container-fluid w-100 FILTER">
  <form [formGroup]="form" class="row inner-cont justify-content-start w-100">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
        <mat-label>{{'Site' | translate}}</mat-label>
        <input type="text" matInput formControlName="site" [matAutocomplete]="auto2">
        <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn"
                          (opened)="handlerAutocomplete('site')">
          <mat-option *ngFor="let option of sitesFilteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
        <mat-label>{{'Department' | translate}}</mat-label>
        <input type="text" matInput formControlName="department" [matAutocomplete]="auto0">
        <mat-autocomplete #auto0="matAutocomplete" [displayWith]="displayFn"
                          (opened)="handlerAutocomplete('department')">
          <mat-option *ngFor="let option of departmentsFilteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
        <mat-label>{{'Sort' | translate}}</mat-label>
        <input type="text" matInput formControlName="sort" [matAutocomplete]="auto1">
        <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn"
                          (opened)="handlerAutocomplete('sort')">
          <mat-option *ngFor="let option of sortsFilteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </form>
</div>
