th.mat-sort-header-sorted {
  color: black;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td {
  text-align: center;
}
.mat-sort-header-container {
  justify-content: center;
}
th.mat-header-cell .mat-sort-header-container .mat-sort-header-content {
  text-align: start !important;
  display: flex !important;;
  align-items: flex-start !important;;
  flex-direction: column !important;;
}
th.mat-header-cell .mat-sort-header-container .mat-sort-header-arrow {
  height: 12px;
  width: 12px;
  min-width: 12px;
  position: absolute !important;
  display: flex;
  opacity: 0;
  left: var(--arrow-left);
  top: 10%;
  right: var(--arrow-right);
}
th.mat-header-cell input{
  border: 1px solid;
  margin-top: 1px;
  border-radius: 3px;
  width: 75%;
}

.mat-success {
  background-color: #28a745;
  color: #fff;
}

.mat-form-field-wrapper {
  padding: 1.34375em .1em;
}

th.mat-header-cell {
  text-align: center !important;
}
.mat-menu-panel {
  min-height: auto;
}

.animated-bg {
  animation: animate 50s forwards ease;
}
@keyframes animate {
  0% {
    background-color: greenyellow;
  }
  100% {
    background-color: #fff;
  }
}
