<div id="main-app" class="app sidebar-color-dark header-color-dark" [dir]="layout"
     [ngClass]="{'app-dark': dark, 'compact-sidebar': compactSidebar, 'customizer-in': customizerIn}">
  <mat-sidenav-container class="gene-container">
    <mat-sidenav #horizontalSideNav [(opened)]="coreService.horizontalSideNavOpen" class="sidebar-area">
      <app-side-bar [menuList]="menuItems" [verticalMenuStatus]=false></app-side-bar>
    </mat-sidenav>
    <mat-toolbar class="gene-header-toolbar horizontal-toolbar-wrap">
      <div class="gene-logo mat-pad-none"><img src="{{clientLogo}}" width="120" height="27" alt="logo"></div>
      <a class="navbar-brand" *ngIf="(loggedIn$ | async)">{{header | translate}}</a>
      <div class="menu-divider"></div>
      <mat-icon color="primary" class="menu-home-icon" [routerLink]="['/']">home</mat-icon>
      <div class="menu-dot"></div>
      <!--      <breadcrumb class="gene-breadcrumbs"></breadcrumb>-->
      <lib-breadcrumbs class="gene-breadcrumbs"></lib-breadcrumbs>
      <span fxFlex></span>
      <div class="secondary-menu">
        <button *ngIf="loggedIn$ | async" class="user-button" mat-icon-button [matMenuTriggerFor]="menu"
                style="width: fit-content; margin-top: 1px;">
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon>account_circle</mat-icon>
            <p class="mb-0 mx-2 username" tooltip="{{userName?.length > 20 ? userName : ''}}">{{userName}}</p>
          </div>
        </button>
        <app-language-drop-down></app-language-drop-down>
        <button mat-icon-button class="overflow-visible" tooltip="{{'Dark mode' | translate}}"
                (click)="addClassOnBody($event)">
          <mat-icon>chrome_reader_mode</mat-icon>
        </button>
        <button fxHide="true" fxHide.gt-sm="false" tooltip="{{'full screen' | translate}}" mat-icon-button
                class="fullscreen-toggle" (click)="toggleFullscreen()">
          <mat-icon *ngIf="!isFullscreen">fullscreen</mat-icon>
          <mat-icon *ngIf="isFullscreen">fullscreen_exit</mat-icon>
        </button>
      </div>
    </mat-toolbar>


    <div class="horizontal-toolbar-wrap" *ngIf="(loggedIn$ | async)">
      <mat-toolbar color="primary" class="d-flex justify-content-center">
        <mat-toolbar-row class="hr-menu-wrap">
          <div class="horizontal-menu">
            <div class="gene-ham-icon" fxShow.lt-md="true" fxHide="true">
              <button class="" mat-mini-fab color="primary" mat-card-icon (click)="toggleSidebar()">
                <mat-icon>menu</mat-icon>
              </button>
            </div>
            <ul class="hr-primary-menu" fxHide.lt-md="true">
              <li *ngFor="let menuItem of menuItems.getAll()" class="child-menu"
                  [ngClass]="{'menu-item-has-child':menuItem.children}">
                <ng-container *ngIf="menuItem.type == 'button'; else menu">
                  <a [routerLink]="[menuItem.state]">{{menuItem.name|translate}}</a>
                </ng-container>
                <ng-template #menu>
                  <!--                  [routerLink]="[menuItem.state]"-->
                  <a>{{menuItem.name|translate}}</a>
                </ng-template>
                <ul class="hr-sub-menu" *ngIf="menuItem.type != 'button'">
                  <li *ngFor="let childItem of menuItem.children" class="child-menu">
                    <div class="header-icon-wrap">
                      <a [routerLink]="['/'+menuItem.state+'/'+childItem.state]" routerLinkActive="active-link"
                         mat-ripple>
                        <!--                        <mat-icon>{{ childItem.icon }}</mat-icon>-->
                        {{childItem.name|translate}}
                      </a>
                    </div>
                    <!--                    <div *ngIf="childItem.type==='subChild'" class="header-icon-wrap">-->
                    <!--                      <a routerLinkActive="active-link" mat-ripple >-->
                    <!--                        <mat-icon>{{ childItem.icon }}</mat-icon>-->
                    <!--                        {{childItem.name|translate}}-->
                    <!--                      </a>-->
                    <!--                    </div>-->

                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>

    <div *ngIf="(isMobile$ | async)" class="mobile-breadcrumb d-flex justify-content-start align-items-center">
      <div class="menu-divider"></div>
      <mat-icon color="primary" class="menu-home-icon" [routerLink]="['/']">home</mat-icon>
      <div class="menu-dot"></div>
      <!--      <breadcrumb class="gene-breadcrumbs"></breadcrumb>-->
      <lib-breadcrumbs class="gene-breadcrumbs"></lib-breadcrumbs>
    </div>

    <div class="gene-base-container" id="gene-base-container" #scrollContainer [ngClass]="{'gene-base-container-no-navbar': !(loggedIn$ | async)}">
      <div class="inner-container" fxLayout="row wrap">
        <div class="full-wid project-content">
          <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
        </div>
        <div class="pad-t-none full-wid" fxFLex="100">
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </mat-sidenav-container>
</div>
<mat-menu class="user-menu" x-position="before" y-position="below" #menu="matMenu">
  <button mat-menu-item routerLink="/change-password">
    <mat-icon>password</mat-icon>
    <span>{{'Change password' | translate}}</span>
  </button>
  <mat-divider></mat-divider>
  <button (click)="logOut()" mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>{{'Logout'|translate}}</span>
  </button>
</mat-menu>
