<div class="flex flex-col justify-center">
  <div mat-dialog-title class="flex">
    <h1 class="align-center flex m-0" mat-dialog-title>
      <mat-icon class="text-danger" svgIcon="">warning</mat-icon>
      <span class="mx-2">{{'Confirm' | translate}}</span></h1>
  </div>
  <div mat-dialog-content class="flex mat-dialog-content">{{'Are you sure you want to delete?' | translate}}</div>
  <div class="flex flex-wrap mt-3 h-full overflow-auto">
    <div class="badge d-flex align-items-center justify-content-center ltr:ml-2 rtl:mr-2 my-1" *ngFor="let item of rows; let last = last">{{item?.name}}
      <mat-icon *ngIf="rows[1]" (click)="remove(item)" tooltip="{{'remove' | translate}}" class="close" svgIcon="">close</mat-icon>
    </div>
  </div>
</div>
<div mat-dialog-actions class="d-flex justify-end mt-2">
  <button mat-button class="mx-2 warn-bg" mat-dialog-close>{{'No' | translate}}</button>
  <button (click)="yes()" color="primary" mat-raised-button class="primary-bg" cdkFocusInitial>
    {{'Yes' | translate}}
  </button>
</div>
