<div class="card-body my-3">
  <div class="d-flex">
    <div class="w-100 p-2 tabs pb-5">
      <mat-tab-group>
        <mat-tab tooltip="View as timeline">
          <ng-template mat-tab-label>
            <i class="fa fa-table"></i>
          </ng-template>
          <app-timeline-view></app-timeline-view>
        </mat-tab>
        <mat-tab tooltip="View as table grid">
          <ng-template mat-tab-label>
            <i class="fa fa-list-ul"></i>
          </ng-template>
          <app-list-view></app-list-view>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
