.card-body {
  position: relative;
}

::ng-deep.mat-mdc-tab-labels {
  //justify-content: center !important;
  z-index: 99999;
}

::ng-deep.mat-mdc-tab-header {
  border: none !important;
}

::ng-deep.mat-mdc-ink-bar {
  display: none !important;
}

::ng-deep .mat-mdc-tab-label {
  padding: 0 !important;
  margin: 0 !important;
  min-width: 50px !important;
  height: 40px !important;
}

.fa {
  font-size: 25px;
  margin: 0 !important;
}

::ng-deep.mat-mdc-tab-header {
  max-width: 200px;
  position: absolute !important;
  right: 18px;
  top: -13px;
  z-index: 99999;
}

.filters {
  position: absolute;
  left: 48.5%;
  min-width: 40%;
  top: 70px;
}

::ng-deep {
  .fc-datagrid-body {
    background-color: #FFFFFF !important;
  }

  .fc .fc-toolbar.fc-header-toolbar {
    //width: 30%;
  }
}

mat-form-field {
  z-index: 99999;
}

.tabs {
  background-color: #FFFFFF;
  border-radius: 3px;
  margin-top: 75px;
  max-height: 100vh;
  overflow: visible;
}

.mat-mdc-drawer-container {
  background-color: #ffffff !important;
}

::ng-deep {
  .mat-mdc-tab-body-wrapper, .mat-mdc-tab-body, .mat-mdc-tab-body-content, .mat-drawer-content, .mat-drawer-container  {
    overflow: visible !important;
  }
}
