<div class="container-fluid p-0">
  <div class="row p-0">
    <div class="col-sm-12 d-flex">
      <div class="sort" *ngIf="sort_options">
        <button tooltip="Sort" color="primary" mat-icon-button [matMenuTriggerFor]="sort"
                type="button"
                class="">
          <mat-icon>sort</mat-icon>
        </button>
        <mat-menu #sort="matMenu">
          <ng-template matMenuContent>
            <button mat-menu-item (click)="sortItems(option)"
                    *ngFor="let option of sort_options">{{option?.name}}</button>
          </ng-template>
        </mat-menu>
      </div>
      <div class="export-excel mx-2" *ngIf="has_excel_export">
        <button (click)="exportExcel()" tooltip="Export excel" color="primary" mat-icon-button
                type="button"
                class="">
          <i class="fa fa-file-excel-o m-0"></i>
        </button>
      </div>
    </div>
  </div>

</div>
