<div class="gene-forgot gene-session wow fadeInDown padding-bottom">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column"  fxFlex.xl="60%" fxFlex.lg="60%" fxFlex.md="60%" fxFlex.sm="60%"  fxFlex.xs="100" class="gene-forget-pass">
      <mat-card>
        <div fxLayout="column full-wid" fxLayoutAlign="center center">
          <div fxLayout="column" fxLayoutAlign="center center">
            <div class="login-logo">
              <!--                            <img src="assets/img/logos/logggg.jpg" class="logo-image">-->
              <h4>{{'Change password' | translate}}</h4>
            </div>
          </div>
          <form [formGroup]="form" (ngSubmit)="send(form.value)" style="width: 50%">
            <div fxLayout="column" fxLayoutAlign="center center">
              <mat-form-field class="full-wid mrgn-b-sm" appearance="outline">
                <mat-label>{{'Password' | translate}}</mat-label>
                <input matInput placeholder="{{'Please enter old password' | translate}}" type="password" formControlName="oldPass">
              </mat-form-field>
              <small  *ngIf="form.controls['oldPass'].hasError('required') && form.controls['oldPass'].touched"
                      class="warn-text gene-block">
                {{'You must include password' | translate}}
              </small>
              <mat-form-field class="full-wid mrgn-b-sm" appearance="outline">
                <mat-label>{{'New password' | translate}}</mat-label>
                <input matInput placeholder="{{'Please enter new password' | translate}}" type="password" formControlName="newPass">
              </mat-form-field>
              <small  *ngIf="form.controls['newPass'].hasError('required') && form.controls['newPass'].touched"
                      class="warn-text gene-block">
                {{'You must include a new password' | translate}}
              </small>
              <mat-form-field class="full-wid mrgn-b-sm" appearance="outline">
                <mat-label>{{'Confirm password' | translate}}</mat-label>
                <input matInput placeholder="{{'Please re-enter new password' | translate}}" type="password" formControlName="confirmPassword">
              </mat-form-field>
              <small  *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched"
                      class="warn-text gene-block">
                {{'You must include confirm password' | translate}}
              </small>
              <small  *ngIf="form.controls['confirmPassword'].errors && !(form.controls['confirmPassword'].hasError('required')) && form.controls['confirmPassword'].touched "
                      class="warn-text gene-block">
                {{'Passwords do not match' | translate}}
              </small>
              <button mat-button  mat-raised-button class="mat-focus-indicator ng-tns-c353-139 mat-raised-button mat-button-base mat-primary" [disabled]="!form.valid"  type="submit">{{'Change' | translate}}</button>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>
