<div class="sidebar-panel gene-sidenav" fxLayout="column">
  <mat-toolbar class="sidebar-logo" style="height: 20%">
    <div class="gene-logo">
      <a href="javascript:void(0)" (click)="onClick()">
        <!--            <div class="logo-sign inline-block"><img src="assets/img/logo-sign.png" width="30" height="30"></div>-->
        <div class="logo-text inline-block"><img src="{{secondaryLogo}}" width="50" alt="timeSmith-logo"></div>
      </a>
    </div>
  </mat-toolbar>
  <div>
    <div class="sidebar-container">
      <!--         <div class="gene-user-thumb text-center" style="display: none">-->
      <!--            <img class="img-responsive img-circle" src="assets/img/pro-thumb.jpg" width="107" height="107" alt="user list image">-->
      <!--            <div class="gene-user-name">John Hobbs</div>-->
      <!--         </div>-->
      <div class="sidenav-scrollbar-container" fxLayout="column">
          <mat-nav-list fxLayout="column" menuToggleDirective class="navigation">
            <mat-list-item  *ngFor="let menuitem of menuList.getAll()" menuToggleLink>

              <a menuToggle class="gene-relative" mat-ripple *ngIf="menuitem.type === 'button'; else menu" routerLinkActive="active-link" [routerLink]="[menuitem.state]">
                <mat-icon *ngIf="menuitem?.icon">{{ menuitem.icon }}</mat-icon>
                <i *ngIf="menuitem?.font" class="{{ menuitem.font }}"></i>
                <span class="list-item-name">{{ menuitem.name | translate }}</span>
                <ng-container *ngIf="menuitem.label">
                  <span class="sidebar-label">{{ menuitem.label}}</span>
                </ng-container>
              </a>
              <ng-template #menu>
                <a class="gene-relative" menuToggle href="javascript:void(0)">
                  <mat-icon *ngIf="menuitem?.icon">{{ menuitem.icon }}</mat-icon>
                  <i *ngIf="menuitem?.font" class="{{ menuitem.font }}"></i>
                  <span class="list-item-name">{{ menuitem.name | translate }}</span>
                  <span fxFlex></span>
                  <mat-icon class="menu-caret">chevron_right</mat-icon>
                </a>
                <mat-nav-list class="sub-menu" *ngIf="menuitem.type === 'sub'">
                  <mat-list-item menuToggleLink *ngFor="let subchilditem of menuitem.children" routerLinkActive="open">
                    <a class="anglo-relative" menuToggle [routerLink]="['/'+menuitem.state+'/'+subchilditem.state]" routerLinkActive="active-link">
                      <span>{{ subchilditem.name | translate }}</span>
                    </a>
                  </mat-list-item>
                </mat-nav-list>
              </ng-template>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-nav-list>
      </div>
    </div>
  </div>
</div>
