body {
  .mat-mdc-select-panel {
    background-color: mat-color($background, card);
  }
  .mat-mdc-select-trigger, .mat-mdc-option {
    font-size: $font-size-base;
  }
  .mat-mdc-select-trigger {
    height: 22px;
    margin: 1em 0;
    padding-bottom: 6px;
  }
  .mat-mdc-select-placeholder {
    padding-left: 0;
  }
  .app-dark .mat-mdc-select-panel {
    background-color: mat-color($dark-background, card);
  }
}
