<div class="card-body container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-6 card d-flex flex-column p-3">
      <div class="col-sm-12">
        <form [formGroup]="form" class="col-sm-12 justify-content-start">
          <div class="d-flex justify-content-center align-items-center mb-3">
            <h2>{{'Create new notification' | translate}}</h2></div>
          <div class="d-flex row">

            <div class="col-sm-12 col-md-6 ">
              <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
                <mat-label>{{'Title' | translate}}</mat-label>
                <input matInput placeholder="{{'Title' | translate}}" type="text" name="title" formControlName="title">
              </mat-form-field>
              <small
                *ngIf="form.controls['title'].hasError('required') && form.controls['title'].touched"
                class="warn-text gene-block">
                {{'You must include title' | translate}}
              </small>
              <small
                *ngIf="form.controls['title'].errors && (form.controls['title'].hasError('wrong')) && form.controls['title'].touched"
                class="warn-text gene-block">
                {{'You must include a valid title' | translate}}
              </small>
            </div>


            <div class="col-sm-12 col-md-6 ">
              <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
                <mat-label>{{'URL' | translate}}</mat-label>
                <input matInput placeholder="{{'URL' | translate}}" type="text" name="url" formControlName="url">
              </mat-form-field>
              <small
                *ngIf="form.controls['url'].hasError('required') && form.controls['url'].touched"
                class="warn-text gene-block">
                {{'You must include url' | translate}}
              </small>
              <small
                *ngIf="form.controls['url'].errors && (form.controls['url'].hasError('wrong')) && form.controls['url'].touched"
                class="warn-text gene-block">
                {{'You must include a valid url' | translate}}
              </small>
            </div>

            <div class="col-sm-12 col-md-12  ">
              <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
                <mat-label>{{'Body' | translate}}</mat-label>
                <textarea cdkTextareaAutosize
                          cdkAutosizeMinRows="4"
                          cdkAutosizeMaxRows="9"
                          maxlength="500"
                          matInput placeholder="{{'Enter body text...' | translate}}" type="text" name="body"
                          formControlName="body"></textarea>
              </mat-form-field>
              <small
                *ngIf="form.controls['body'].hasError('required') && form.controls['body'].touched"
                class="warn-text gene-block">
                {{'You must include body' | translate}}
              </small>
              <small
                *ngIf="form.controls['body'].errors && (form.controls['body'].hasError('wrong')) && form.controls['body'].touched"
                class="warn-text gene-block">
                {{'You must include a valid body' | translate}}
              </small>
            </div>

            <div class="d-flex flex-column col-sm-12 col-md-6">
              <div class="col-sm-12">
                <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
                  <mat-label>{{'Mode' | translate}}</mat-label>
                  <mat-select formControlName="mode" (selectionChange)="changeMode($event.value)">
                    <mat-option class="text-capitalize" *ngFor="let mode of modes" [value]="mode">
                      {{mode}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <small
                  *ngIf="form.controls['mode'].hasError('required') && form.controls['mode'].touched"
                  class="warn-text gene-block">
                  {{'You must include mode' | translate}}
                </small>
              </div>

              <div class="col-sm-12 ">
                <mat-label>{{'Recipients' | translate}}</mat-label>
                <!--                <ng-multiselect-dropdown-->
                <!--                  [placeholder]="placeholderText"-->
                <!--                  [settings]="dropdownSettings"-->
                <!--                  [data]="recipients"-->
                <!--                  formControlName="recipients"-->
                <!--                  [disabled]="disabled"-->
                <!--                >-->
                <!--                </ng-multiselect-dropdown>-->
                <select name="cars" id="weekends" multiple multiselect-search="true" multiselect-select-all="true" formControlName="recipients">
                  <option value="{{option?.id}}" *ngFor="let option of recipients">{{option?.name}}</option>
                </select>
                <small
                  *ngIf="form.controls['recipients'].hasError('required') && form.controls['recipients'].touched"
                  class="warn-text gene-block">
                  {{'You must include recipients' | translate}}
                </small>
                <small
                  *ngIf="form.controls['recipients'].errors && (form.controls['recipients'].hasError('wrong')) && form.controls['recipients'].touched"
                  class="warn-text gene-block">
                  {{'You must include a valid recipients' | translate}}
                </small>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 d-flex">
              <div class="col-sm-4 mrgn-b-md">
                <div class="col-sm-12">
                  <button (click)="removeImage()" *ngIf="imageSrc" color="primary" mat-button="" type="button"
                          class="text-danger">
                  <span class="mat-button-wrapper">
                    <mat-icon role="img" class="mat-icon notranslate icon-sm mat-icon-no-color">remove</mat-icon>
                    <span>{{'Remove' | translate}}</span>
                  </span>
                  </button>

                  <input #image type="file" name="image" formControlName="image" accept="image/*" style="display: none"
                         id="image" (change)="onSelectImage($event)">
                  <button *ngIf="!imageSrc" (click)="image.click()" color="primary" mat-button="" type="button"
                          class="mat-primary">
                  <span class="mat-button-wrapper">
                    <mat-icon role="img" class="mat-icon notranslate icon-sm mat-icon-no-color">add</mat-icon>
                    <span>{{'Add Image' | translate}}</span>
                  </span>
                  </button>
                </div>
                <small
                  *ngIf="form.controls['image'].hasError('required') && form.controls['image'].touched"
                  class="warn-text gene-block">
                  {{'You must include image' | translate}}
                </small>
                <small
                  *ngIf="form.controls['image'].errors && (form.controls['image'].hasError('invalidFile')) && form.controls['image'].touched"
                  class="warn-text gene-block">
                  {{'Image max size must not exceed 2MB' | translate}}
                </small>
              </div>
              <div class="col-sm-7 mx-4 mrgn-b-md" *ngIf="imageSrc">
                <img class="image" src="{{imageSrc}}" width="100" height="100">
              </div>
            </div>


          </div>
        </form>
      </div>

      <div class="col-sm-12 d-flex justify-content-center my-3 justify-content-lg-end d-flex align-items-center">
        <button mat-button class="mx-2 warn-bg" [routerLink]="['/notifications']">{{'Back' | translate}}</button>
        <button (click)="save(form?.value)" [disabled]="!form.valid" color="primary" mat-raised-button
                class="primary-bg" cdkFocusInitial>
          {{'Create' | translate}}
        </button>
      </div>
    </div>
  </div>

</div>
